<h1>Data Report</h1>
<h2>number of female patients <%= @female_patients %></h2>
<h2>number of male patients <%= @male_patients %></h2>
<h2>average age of male patients <%= @male_patients_age %></h2>
<h2>average age of female patients <%= @female_patients_age %></h2>
